<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%= typeof titleHtml === 'undefined' ? 'ChallengeMyFaith' : titleHtml %></title>
   <meta name="description" content="<%= typeof metadescription === 'undefined' ? 'ChallengeMyFaith' : metadescription %>">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/styles.css">
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

   <!-- ckeditor MUST BE IN HEAD not just above closing body tag -->
   <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.10/ckeditor.js"></script> -->
   <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>
<body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               <img src="/images/logo_250x117.png" alt="Challenge My Faith">
            </a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="blog-menu">
            <ul class="nav navbar-nav">
               <li><a href="/articles">Articles</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/contact">Contact</a></li>
               <% if(currentUser && currentUser.isAuthor){ %>
                  <li><a href="/article/create">New Article</a></li>
               <% } %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
               <% if(!currentUser) { %>
                     <li><a href="/login">Log In</a></li>
                     <li><a href="/register">Register</a></li>
               <% } else { %>
                     <li>
                        <a href="#" title="user name">
                           <span class="glyphicon glyphicon-user"></span>
                           <%= currentUser.fullname %>
                        </a>
                     </li>
                     <li><a href="/logout">Log Out</a></li>
               <% } %>
            </ul>
         </div>
      </div>
   </nav>


<!-- - - - - - - Error & Success Flash Messages - - - - - - - - - -->
<div class="container text-center mt01em">
   <div class="col-md-12" style="float:none; margin: 0 auto;">
      <% if(error && error.length > 0){ %>
         <div class="alert alert-danger" role="alert">
           <%- error %>
         </div>
      <% } %>
      <% if(success && success.length > 0){ %>
         <div class="alert alert-success" role="alert">
           <%- success %>
         </div>
      <% } %>
   </div>
</div>
