<% include ../partials/header %>

<div class="container">
   <h1><%= pagetitle %></h1>

   <!-- row expands margins-->
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <div class="col-md-8">
      <% articles.forEach( (article) => { %>
         <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="thumbnail">
               <a href="/articles/<%= article._id %>">
               <img class="img-responsive"
                  src="/images/uploaded_images/<%= article.thumbImage %>">
               </a>
               <div class="caption">
                  <a href="/articles/authors/<%= article.author.id %>">
                     by <span class="text-uppercase"><%= article.author.name %></span>
                  </a>
                  <p><%= article.createdAt_virtual %></p>
                  <div class="article-title">
                     <h4>
                        <a href="/articles/<%= article._id %>">
                           <% if(article.title.length > 65) { %>
                              <%= article.title.substring(0,65) %>...
                           <% } else { %>
                              <%= article.title.substring(0,65) %>
                           <% } %>
                        </a>
                     </h4>
                  </div>
                  <div class="article-body">
                     <p>
                        <% if(article.body.length > 150) { %>
                           <%- article.body.substring(0,150) %>...
                        <% } else { %>
                           <%- article.body.substring(0,150) %>
                        <% } %>
                     </p>
                  </div>
               </div>
               <p>
                  <a class="btn btn-primary" href="/articles/<%= article._id %>">
                     Read more
                  </a>
               </p>
            </div>
         </div>
      <% }) %>
      </div>
      <div class="col-md-4">
         Right side margin
      </div>
   </div>

</div>

<% include ../partials/footer %>
