<% include ../partials/header %>

<div class="container">
   <div class="show-date">
      <p><%= today %></p>
   </div>
   <h1 class="show-article-title"><%= (typeof article === 'undefined' || article === null) ? '' : article.title %></h1>
    <div class="row">

         <div class="col-md-9">
            <div class="thumbnail">
               <img class="img-responsive"
                  src="/images/uploaded_images/<%= (typeof article === 'undefined' || article === null) ? '' : article.showImage %>">
               <div  class="caption-full">
                  <div class="show-article-body">
                     <h3><%= (typeof article === 'undefined' || article === null) ? '' : article.title %></h3>
                     <div class="show-author-name">
                        <p>
                           <a href="/articles/author/<%= (typeof article === 'undefined' || article === null) ? '' : article.author.id %>">
                              by <span class="text-uppercase"><%= (typeof article === 'undefined' || article === null) ? '' : article.author.fullname %></span>
                           </a>
                           &nbsp;| &nbsp;
                           <span><%= (typeof article === 'undefined' || article === null) ? '' : article.createdAt_virtual %></span>
                        </p>
                     </div>
                     <p><%- (typeof article === 'undefined' || article === null) ? '' : article.body %></p>
                  </div>
                  <% if(currentUser && article.author._id.equals(currentUser._id)) { %>
                     <div class="show-edit-delete">
                        <a class="btn btn-warning" href="<%= article.url %>/update" title="Edit">
                           <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger" href="<%= article.url %>/delete" title="Edit">
                           <span class="glyphicon glyphicon-trash"></span>
                        </a>
                     </div>
                  <% } %>

               </div>
            </div>

            <!-- test -->
            <!-- <% if(typeof article.comments === 'object' && article.comments.length < 1){%>
               <p>article.comments is an object with an array that is empty</p>
            <%}else if(typeof article.comments === 'object' && article.comments.length > 0) {%>
               <p>article.comments is an object with an array that has at least one comment</p>
            <%}else{%>
               <p>Unsure what article.comments is</p>
            <%}%> -->
            <!-- end test -->

            <!-- if article.comments is empty, display this  -->
            <% if(typeof article.comments === 'object' && article.comments.length < 1) { %>
               <p>
                  <a class="btn btn-success" href="/article/<%= (typeof article === 'undefined' || article === null) ? '' : article._id %>/comment/create">
                     Be the first to comment
                  </a>
               </p>
            <!-- if article.comments is not empty, display this  -->
            <% } else { %>
               <div class="well fbf7f3">
                  <p class="text-right">
                     <a class="btn btn-success" href="/article/<%= article._id %>/comment/create">
                        Add Comment
                     </a>
                     <hr>
                  </p>

                  <% if(article.comments != null) { %>
                     <% article.comments.forEach(function(comment){ %>
                        <div class="row">
                           <div class="col-md-12">
                              <strong><%= comment.author.name %></strong>
                              <span class="pull-right"><%= article.createdAt_virtual %></span>
                              <div class="comment-text-container">
                                 <p>
                                    <%- comment.text %>
                                 </p>
                                 <div class="border-dotted"></div>
                              </div>

                              <% if(currentUser ) { %><!-- every route has currentUser;-->
                                 <div class="show-edit-delete">
                                    <a class="btn btn-warning"
                                       href="/article/<%= article._id %>/comment/<%= comment._id %>/update" title="Edit comment">
                                       <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a class="btn btn-danger"
                                       href="/article/<%= article._id %>/comment/<%= comment._id %>/delete" title="Delete comment">
                                       <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                 </div>
                              <% } %>
                           </div>
                        </div>
                     <% }); %>
                  <% } %>
               </div>
            <% } %>
        </div>

      <% include ../partials/right-sidebar %>

   </div>
</div><!-- // container -->


<% include ../partials/footer %>
