<% include ../partials/header %>

<div class="container">
   <h1><%= title %> <%= author.fullname %></h1>

   <!-- row expands margins-->
   <div class="text-center" style="display:flex; flex-wrap: wrap;">
      <div class="col-md-9">
      <% if(articles && articles.length > 0){ %>
         <% articles.forEach(function(article){ %>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <div class="thumbnail">
                  <a href="<%= article.url %>">
                  <img class="img-responsive"
                     src="/images/uploaded_images/<%= article.thumbImage %>">
                  </a>
                  <div class="caption" style="margin-bottom: -20px;">
                     <!-- <a href="/articles/author/<%= article.author.id %>">
                        by <span class="text-uppercase"><%= article.author.fullname %></span>
                     </a> -->
                     <p><%= article.createdAt_virtual %></p>
                     <div class="article-title">
                        <h4>
                           <a href="<%= article.url %>">
                              <% if(article.title.length > 65) { %>
                                 <%= article.title.substring(0,65) %>...
                              <% } else { %>
                                 <%= article.title.substring(0,65) %>
                              <% } %>
                           </a>
                        </h4>
                     </div>
                     <!-- <div class="article-body">
                        <p>
                           <% if(article.body.length > 150) { %>
                              <%- article.body.substring(0,150) %>...
                           <% } else { %>
                              <%- article.body.substring(0,150) %>
                           <% } %>
                        </p>
                     </div> -->
                  </div>
                  <p>
                     <a class="btn btn-primary" href="<%= article.url %>">
                        Read more
                     </a>
                  </p>
               </div>
            </div>
         <% }) %>
      <% } else { %>
         <p>No articles by this author.</p>
      <% } %>
      </div>

      <% include ../partials/right-sidebar %>
   </div>

</div>

<% include ../partials/footer %>
